*, *::before, *::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  min-width: 1440px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #283136;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.btn {
  font: inherit;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #fb565a;
  border-radius: 4px;
  border: none;
}

.btn:hover,
.btn:focus {
  background-color: #e74246;
  outline: none;
  border: none;
}

.btn:active {
  background-color: #d7373b;
  color: #dd5458;
  outline: none;
  border: none;
}

.main-header {
  background-color: #eeeeee;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-top: 40px;
  padding-left: 20px;
  padding-right: 20px;
}

.main-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 30px;
  font-weight: 500;
  color: #000000;
  text-transform: uppercase;
}

.main-header-logo img:hover,
.main-header-logo img:focus {
  opacity: 0.8;
}

.main-header-logo img:active {
  opacity: 0.3;
}

.site-navigation,
.user-navigation {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  padding-top: 5px;
}

.site-navigation {
  display: flex;
  min-width: auto;
}

.site-navigation a {
  color: #000000;
  margin-right: 45px;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  color: #fb565a;
}

.site-navigation a:active,
.user-navigation a:active {
  color: #a6a6a6;
}

.cart-link {
  padding-left: 40px;
  color: #000000;
  background-image: url("../img/cart-icon.png");
  background-repeat: no-repeat;
  background-position: left;
}

.slider {
  position: relative;
  margin-top: 10px;
}

.slide {
  display: flex;
  width: 100%;
  background-repeat: no-repeat;
  background-position: 430px 100%;
}

.slide-first {
  background-image: url("../img/nerds-index-slide1.png");
}

.slide-second {
  background-image: url("../img/nerds-index-slide2.png");
}

.slide-third {
  background-image: url("../img/nerds-index-slide3.png");
}

.slide-disappear {
  display: none;
}

.slide-appear {
  display: flex;
}

.slider-text {
  width: 520px;
  margin: 0;
  padding-top: 60px;
}

.slider-bigtext {
  display: block;
  color: #000000;
  font-size: 54px;
  line-height: 54px;
  font-weight: 500;
  margin-bottom: 25px;
}

.slider-smalltext {
  display: block;
  margin: 0;
  margin-bottom: 40px;
  width: 410px;
}

.slide-red-button {
  padding: 13px 55px;
  margin-bottom: 80px;
}

.slide-switch-buttons {
  display: flex;
  justify-content: space-between;
  list-style: none;
  position: absolute;
  width: 130px;
  bottom: 95px;
  right: 0;
  left: 0;
  margin: 0 auto;
  padding: 0 20px;

}

.slide-switch-btn {
  color: transparent;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #ffffff;
}

.slide-switch-btn:hover,
.slide-switch-btn:focus {
  background-color: #ffffff;
  color: transparent;
}

.slide-switch-btn:active,
.slide-switch-btn:checked {
  color: transparent;
  background-image: url("../img/active-sliderbutton.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
}

.presentation-list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  padding-top: 40px;
  padding-bottom: 80px;
  border-bottom: 2px solid #eeeeee;
}

.presentation-item {
  text-align: left;
  margin-right: 100px;
}

.presentation-item:last-child {
  margin: 0;
}

.presentation-item img {
  margin: 0;
  margin-bottom: 15px;
}

.presentation-item h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 20px;
  color: #000000;
  text-transform: uppercase;
}

.presentation-item p {
  width: 260px;
  margin: 0;
  margin-bottom: 30px;
}

.order-btn {
  margin: 0;
  padding: 13px 40px;
}

.order-btn-green {
  background-color: #00ca74;
}
.order-btn-green:hover,
.order-btn-green:focus {
  background-color: #00bc6c;
}

.order-btn-green:active {
  background-color: #00aa62;
  color: #22b677;
}

.order-btn-yellow {
  background-color: #efc84a;
}

.order-btn-yellow:hover,
.order-btn-yellow:focus {
  background-color: #eab534;
}

.order-btn-yellow:active {
  background-color: #e5a722;
  color: #eab84d;
}

.services-features {
  padding-bottom: 30px;
}

.services-features .container {
  display: flex;
  justify-content: space-between;
}

.services-container {
  width: 660px;
  padding-top: 35px;
}

.services-whoweare {
  display: block;
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  color: #000000;
  margin: 0;
  margin-bottom: 30px;
}

.services-description {
  margin: 0;
  margin-bottom: 40px;
}

.services-ourjob {
  display: block;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
}

.services-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.services-item {
  margin: 0;
  margin-top: 25px;
  padding-left: 35px;
  background-image: url("../img/red-dash.png");
  background-repeat: no-repeat;
  background-position: center left;
}

.features-container img {
  margin: 0;
  margin-bottom: 30px;
}

.features-motto {
  display: block;
  margin: 0;
  margin-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  color: #000000;
}

.features-table {
  width: 360px;
  margin: 0;
  color: #000000;
}

.features-table td {
  padding-top: 10px;
  padding-left: 15px;
  width: 100px;
}

.features-table td:first-child {
  padding-left: 0;
}

.features-table tr:first-child {
  font-size: 45px;
  line-height: 60px;
  font-weight: 700;
}

.features-table sup {
  font-size: 28px;
}

.features-table tr:last-child {
  line-height: 18px;
  color: #283136;
}

.portfolio-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  padding-top: 50px;
  padding-bottom: 40px;
  border-top: 2px solid #eeeeee;
  border-bottom: 2px solid #eeeeee;
}

.portfolio-item {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  width: 290px;
  color: transparent;
  padding: 0;
  margin: 0;
  font-size: 0;
  line-height: 0;
}

.portfolio-item::after {
  content: "";
  display: block;
  width: 2px;
  height: 52px;
  position: absolute;
  right: 0;
  background-image: url("../img/logo-divider.png");
  background-repeat: no-repeat;
}

.portfolio-item:last-child::after {
  display: none;
}

.portfolio-item a img {
  opacity: 0.2;
}

.portfolio-item a img:hover {
  opacity: 1;
}

.portfolio-item a img:active {
  opacity: 0.1;
}

.page-footer {
  padding-top: 80px;
}

.map {
  position: relative;
  margin: 0;
  padding: 0;
}

.map-img {
  width: 100%;
  height: auto;
  position: absolute;
  top:0;
  left:0;
  z-index: 1;
  margin: 0;
}

.map iframe {
  position: relative;
  z-index: 2;
  border: none;
}

.map .container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  display: flex;
  align-items: center;
  padding-top: 0;
  z-index: 3;
}

.address {
  width: 320px;
  min-height: 310px;
  background-color: #ffffff;
  padding: 50px;
}

.address-header {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  margin-bottom: 25px;
}

.address-full {
  line-height: 18px;
  color: #7a7a7a;
  width: 205px;
  padding: 0;
  margin: 0;
  margin-bottom: 15px;
}

.phonenumber {
  color: #7a7a7a;
  margin: 0;
  margin-bottom: 35px;
}

.write-btn {
  width: 100%;
  padding: 13px 45px;
  margin: 0;
}

.footer-social-friends {
  padding-top: 30px;
  padding-bottom: 60px;
}

.footer-social-friends .container {
  display: flex;
  justify-content: space-between;
}

.social-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 260px;
  padding: 0;
  margin: 0;
}

.social-btn {
  display: block;
  width: 80px;
  height: 80px;
  color: transparent;
  background-color: #e1e1e1;
  border-radius: 50%;
}

.social-btn:hover,
.social-btn:focus {
  background-color: #e74246;
}

.social-btn:active {
  background-color: #d7373b;
}

.social-btn:active img {
  opacity: 0.3;
}

.social-btn-vk img {
  padding-left: 27px;
  padding-top: 32px;
}

.social-btn-fb img {
  padding-left: 34px;
  padding-top: 27px;
}

.social-btn-ig img {
  padding-left: 30px;
  padding-top: 28px;
}

.footer-texts {
  flex-grow: 1;
  margin-left: 140px;
  margin-top: 0;
}

.page-footer .befriends {
  display: block;
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  margin-bottom: 10px;
}

.page-footer .socialsale {
  margin: 0;
}

/* shop.html */

/*.site-navigation .selected {
  height: 35px;
  background-image: url("../img/underline-red.png");
  background-repeat: no-repeat;
  background-position: left bottom;
}
*/

.site-navigation .selected {
  position: relative;
}

.site-navigation .selected::after {
  content: "";

  position: absolute;
  bottom: -5px;
  right: 46px;
  left: 0;
  height: 2px;
  background-color: #fb565a;
}

.shop-header {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: #000000;
  text-align: center;
  margin: 0;
  padding-top: 80px;
  padding-bottom: 110px;
}

.main-container .container {
  display: flex;
  flex-wrap: wrap;
}

.filter-form {
  width: 300px;
  padding: 0;
  margin: 0;
  padding-top: 20px;
}

.filter-cost,
.filter-grid,
.filter-features {
  padding: 0;
  margin: 0;
  border: none;
}

.filter-header {
  font-size: 18px;
  line-height: 18px;
  text-transform: uppercase;
  font-weight: 700;
  color: #000000;
}

.cost-header {
  padding-bottom: 55px;
}

.range-scale-container {
  width: 260px;
}

.range-scale {
  width: 100%;
  padding: 40px 20px;
  margin: 0;
  margin-bottom: 15px;
  background-color: #eeeeee;
  border-radius: 4px;
}

.range-stripe {
  display: block;
  position: relative;
  height: 2px;
  padding: 0;
  background-color: #00ca74;
}

.range-btn {
  display: inline-block;
  position: absolute;
  width: 20px;
  height: 22px;
  padding: 0;
  margin: 0;
  background-image: url("../img/scale-button.png");
  background-repeat: no-repeat;
  background-position: center;
}

.range-btn-left {
  left: 0;
  bottom: -10px;
}

.range-btn-right {
  right: 60px;
  bottom: -10px;
}

/*
.range-stripe::before {
  content: "";
  display: inline-block;
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 20px;
  height: 22px;
  padding: 0;
  margin: 0;
  background-image: url("../img/scale-button.png");
  background-repeat: no-repeat;
  background-position: center;
}

.range-stripe::after {
  content: "";
  display: inline-block;
  position: absolute;
  right: 60px;
  bottom: -10px;
  width: 20px;
  height: 22px;
  padding: 0;
  margin: 0;
  background-image: url("../img/scale-button.png");
  background-repeat: no-repeat;
  background-position: center;
}
*/

.range-values {
  display: flex;
  width: 260px;
  justify-content: space-between;
  margin-bottom: 60px;
}

.filter-word {
  text-transform: uppercase;
}

.filter-value {
  display: inline-block;
  width: 80px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 10px;
  text-align: center;
  vertical-align: middle;
  background-color: #eeeeee;
  border-radius: 4px;
  line-height: 16px;
}

.grid-header,
.features-header {
  padding-bottom: 20px;
}

.filter-list {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-bottom: 45px;
  color: #283136;
}

.filter-item {
  margin-bottom: 15px;
}

.filter-item:last-child {
  margin: 0;
}

.filter-radiobtn,
.filter-checkbox {
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  line-height: 0;
}

.filter-radiobtn input[type="radio"] + .radio-indicator {
  position: absolute;
  left: 0;
  width: 25px;
  height: 25px;
  border: 4px solid #a6a6a6;
  border-radius: 50%;
}

.filter-radiobtn input[type="radio"]:hover + .radio-indicator {
  color: #000000;
  border-color: #000000;
}

.filter-radiobtn input[type="radio"]:checked + .radio-indicator::before {
  content: "";
  position: absolute;
  display: block;
  left: 4px;
  bottom: 4px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: #a6a6a6;
}

.filter-radiobtn input[type="radio"]:hover + .radio-indicator::before {
  background-color: #000000;
}

.filter-checkbox input[type="checkbox"] + .checkbox-indicator {
  position: absolute;
  left: 0;
  width: 27px;
  height: 27px;
  background-image: url("../img/shop-checkbox-off.png");
  background-repeat: no-repeat;
  opacity: 0.4;
}

.filter-checkbox input[type="checkbox"]:hover + .checkbox-indicator {
  opacity: 1;
  color: #000000;
}

.filter-checkbox input[type="checkbox"]:checked + .checkbox-indicator {
  background-image: url("../img/shop-checkbox-on.png");
  background-repeat: no-repeat;
}

.show-btn {
  width: 260px;
  height: 50px;
  font-weight: 500;
  color: #000000;
  background-color: #eeeeee;
  padding: 0;
}

.show-btn:hover,
.show-btn:focus {
  background-color: #dfdfdf;
}

.show-btn:active {
  color: #959595;
  background-color: #d5d5d5;
}

.sorting {
  display: flex;
  flex-wrap: wrap;
  width: 860px;
  padding-top: 20px;
}

.header-sort {
  width: 240px;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 100px;
  font-size: 18px;
  line-height: 18px;
}

.filter-cost {
  display: flex;
  width: 100%
}

.filter-word {
  display: inline-block;
}

.sortingbtn-container {
  display: flex;
  width: auto;
  margin-left: 235px;
}

.sort-btn-list {
  list-style: none;
  display: flex;
  width: 300px;
  margin: 0;
  padding: 0;
}

.sort-btn {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  margin-left: 25px;
  padding: 0;
  color: #b2b2b2;
  background-color: #ffffff;
}

.sort-btn:hover {
  color: #666666;
  background-color: #ffffff;
}

.sort-btn:active,
.sort-btn:focus {
  color: #000000;
  background-color: #ffffff;
}

.order-btn-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 40px;
  margin: 0;
  margin-left: 40px;
  padding: 0;
}

.triangle-btn {
  display: inline-block;
  width: 11px;
  height: 11px;
  margin: 0;
  padding: 0;
  font-size: 0;
  line-height: 0;
  color: transparent;
  background-color: #ffffff;
  opacity: 0.2;
  outline: none;
  border: none;
}

.triangle-btn-down {
  background-image: url("../img/orderbtn-icon-down.png");
  background-repeat: no-repeat;
  background-position: top center;
}

.triangle-btn-up {
  background-image: url("../img/orderbtn-icon-up.png");
  background-repeat: no-repeat;
  background-position: top center;
}

.triangle-btn:hover {
  font-size: 0px;
  line-height: 0px;
  opacity: 0.5;
  background-color: #ffffff;
  outline: none;
}

.triangle-btn:active,
.triangle-btn:focus {
  font-size: 0px;
  line-height: 0px;
  opacity: 1;
  background-color: #ffffff;
  outline: none;
}

.offers {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding-left: 60px;
  padding-top: 15px;
  padding-bottom: 60px;
}

.product-pic {
  position: relative;
  margin-top: 35px;
  margin-left: 40px;
  min-width: 360px;
  min-height: 616px;
  color: transparent;
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
  border-radius: 4px;
}

.product-1 {
  background-image: url("../img/shop-sedona.png");
}

.product-1:hover {
  background-image: url("../img/shop-browser.png"), url("../img/shop-sedona.png");
  background-position: top;
  background-repeat: no-repeat;
}

.product-2 {
  background-image: url("../img/shop-pink.png");
}

.product-2:hover {
  background-image: url("../img/shop-browser.png"), url("../img/shop-pink.png");
  background-position: top;
  background-repeat: no-repeat;
}

.product-3 {
  background-image: url("../img/shop-borodinski.png");
}

.product-3:hover {
  background-image: url("../img/shop-browser.png"), url("../img/shop-borodinski.png");
  background-position: top;
  background-repeat: no-repeat;
}

.product-4 {
  background-image: url("../img/shop-mishka.png");
}

.product-4:hover {
  background-image: url("../img/shop-browser.png"), url("../img/shop-mishka.png");
  background-position: top;
  background-repeat: no-repeat;
}

.product-5 {
  background-image: url("../img/shop-aplus.png");
}

.product-5:hover {
  background-image: url("../img/shop-browser.png"), url("../img/shop-aplus.png");
  background-position: top;
  background-repeat: no-repeat;
}

.product-6 {
  background-image: url("../img/shop-kvast.png");
}

.product-6:hover {
  background-image: url("../img/shop-browser.png"), url("../img/shop-kvast.png");
  background-position: top;
  background-repeat: no-repeat;
}

.paginator-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 540px;
  margin: 0;
  padding: 0;
  padding-left: 100px;
}

.paginator-link {
  display: block;
  font-weight: 500;
  text-align: center;
  padding-top: 14px;
  padding-bottom: 14px;
  width: 50px;
  color: #000000;
  background-color: #eeeeee;
  border-radius: 4px;
}

.paginator-link:hover {
  background-color: #dfdfdf;
}

.paginator-link:active {
  color: #959595;
  padding-top: 12px;
  border-top: 2px solid #bfbfbf;
  background-color: #d5d5d5;
}

.paginator-link:focus {
  background-color: #ffffff;
  border: 2px solid #dfdfdf;
}

.paginator-link-next {
  width: 260px;
  text-transform: uppercase;
}

/* Modal windows */

.modal-contactus {
  display: none;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 4;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-container {
  position: fixed;
  z-index: 5;
  left: 240px;
  bottom: 160px;
  width: 960px;
  margin: 0 auto;
  padding: 0;
  padding-left: 100px;
  padding-right: 100px;
  background-color: #ffffff;
  box-shadow: 10px 20px 40px rgba(0, 0, 0, 0.75);
}

.modal-contactus h2 {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  color: #000000;
  margin: 0;
  padding-top: 75px;
  padding-bottom: 35px;
}

.user-form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

.user-form-item {
  width: 360px;
  margin: 0;
}

.form-label {
  display: block;
  font-weight: 700;
  color: #000000;
  margin-bottom: 10px;
}

.form-input {
  width: 360px;
  height: 50px;
  color: #000000;
  border: 2px solid #f2f3f4;
  border-radius: 2px;
  outline: none;
}

.user-letter {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 40px;
}

.form-letter {
  width: 760px;
  height: 116px;
}

.user-form input:hover,
.user-form textarea:hover {
  border: 2px solid #e1e3e4;
}

.user-form input:focus,
.user-form textarea:focus {
  border: 2px solid #000000;
}

.form-btn {
  display: block;
  width: 260px;
  height: 50px;
  margin-bottom: 85px;
  color: #ffffff;
}

.modal-close-btn {
  position: absolute;
  top: 75px;
  right: 75px;
  display: block;
  width: 50px;
  height: 50px;
  color: transparent;
  background-color: transparent;
  font-size: 0;
  line-height: 0;
}

.modal-close-btn:hover,
.modal-close-btn:focus,
.modal-close-btn:active {
  color: transparent;
  background-color: transparent;
}

.modal-close-btn img {
  opacity: 0.3;
}

.modal-close-btn img:hover,
.modal-close-btn img:focus {
  opacity: 1;
}

.modal-close-btn img:active {
  opacity: 0.1;
}

.modal-card {

  position: absolute;
  left: 0;
  bottom: 0px;
  width: 360px;
  border-radius: 4px;
  box-shadow: 0px 6px 15px 0px rgba(0, 1, 1, 0.25);
  background-color: #eeeeee;
  text-align: center;
}

.modal-header {
  font-size: 18px;
  font-weight: 700;
  color: #000000;
  margin: 0;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  padding-top: 30px;
  padding-bottom: 15px;
}

.modal-text {
  color: #666666;
  text-align: center;
  white-space: pre-wrap;
  margin: 0;
  margin-bottom: 25px;
}

.modal-btn {
  width: 200px;
  height: 50px;
  text-align: center;
  margin-bottom: 40px;
}

.modal-btn:active {
  color: #ffffff;
}

.modal-card-pink {
  display: none;
}

.modal-shop-show {
  display: block;
}

.modal-show {
  display: block;
  /*animation-name: appearing;*/
  animation-duration: 0.5s;
}

.modal-error {
  animation-name: shake;
  animation-duration: 0.5s;
}

/* Animation */

@keyframes appearing {
  0% {opacity: 0;}
  10% {opacity: 0.1;}
  20% {opacity: 0.2;}
  30% {opacity: 0.3;}
  40% {opacity: 0.4;}
  50% {opacity: 0.5;}
  60% {opacity: 0.6;}
  70% {opacity: 0.7;}
  80% {opacity: 0.8;}
  90% {opacity: 0.9;}
  100% {opacity: 1;}
}

@keyframes shake {
  0%, 100% {transform: translate(0);}
  10%, 30%, 50%, 70%, 90% {transform: translateX(-10px);}
  20%, 40%, 60%, 80% {transform: translateX(10px);}
}
