body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #283136;

  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  text-decoration: none;
}

.btn {
  font: inherit;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #fb565a;
  border-radius: 4px;
  border:none;
}

.btn:hover,
.btn:focus {
  background-color: #e74246;
  outline: none;
  border: none;
}

.btn:active {
  background-color: #d7373b;
  color: #dd5458;
  outline: none;
  border: none;
}

.main-header {
  background-color: #eeeeee;
  border-bottom: 2px solid #f8f8f8;
}

.main-navigation {
  line-height: 30px;
  font-weight: 500;
  color: #000000;
  text-transform: uppercase;
}

.main-header-logo img:hover,
.main-header-logo img:focus {
  opacity: 0.8;
}

.main-header-logo img:active {
  opacity: 0.3;
}

.site-navigation,
.user-navigation {
  list-style: none;
}

.site-navigation a,
.user-navigation a {
  color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  color: #fb565a;
}

.site-navigation a:active,
.user-navigation a:active {
  color: #a6a6a6;
}

.cart-link img {
  padding-right: 25px;
}

.site-navigation .selected {
  padding-bottom: 5px;
  border-bottom: 2px solid #fb565a;
}

.slider-bigtext {
  color: #000000;
  font-size: 54px;
  line-height: 54px;
  font-weight: 500;
}

.slide-red-button {
  padding: 13px 55px;
}

.slide-switch-buttons {
  list-style: none;
}

.slide-switch-btn {
  display: block;
  color: transparent;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #ffffff;

}

.slide-switch-btn:hover,
.slide-switch-btn:focus {
  background-color: #ffffff;
  color: transparent;

}

.slide-switch-btn:active {
  color: transparent;
  background-image: url("../img/active-sliderbutton.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;

}

.presentation-list {
  list-style: none;
}

.presentation-item {
  text-align: left;
}

.presentation-item h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.order-btn {
  padding: 13px 40px;
}

.order-btn-green {
  background-color: #00ca74;
}
.order-btn-green:hover,
.order-btn-green:focus {
  background-color: #00bc6c;
}

.order-btn-green:active {
  background-color: #00aa62;
  color: #22b677;
}

.order-btn-yellow {
  background-color: #efc84a;
}

.order-btn-yellow:hover,
.order-btn-yellow:focus {
  background-color: #eab534;
}

.order-btn-yellow:active {
  background-color: #e5a722;
  color: #eab84d;
}

.services-list {
  list-style: none;
}

.services-whoweare {
  display: block;
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  color: #000000;

}

.services-ourjob {
  display: block;
  text-transform: uppercase;
  color: #000000;
}

.features-motto {
  display: block;
  text-transform: uppercase;
  font-weight: 700;
  color: #000000;
}

.features-table {
  color: #000000;
  margin-top: 40px;

}

.features-table tr:first-child {
  font-size: 45px;
  line-height: 60px;
  font-weight: 700;
}

.features-table sup {
  font-size: 28px;
}

.features-table tr:last-child {

}

.portfolio-list {
  list-style: none;
}

.portfolio-item {
  color: transparent;
}

.portfolio-item a img {
  opacity: 0.2;
}

.portfolio-item a img:hover {
  opacity: 1;
}

.portfolio-item a img:active {
  opacity: 0.1;
}

.map .address {
  display: block;
  width: 320px;
  height: 320px;
  background-color: #ffffff;
}

.address .address-header {
  line-height: 30px;
  font-weight: 700;
}

.address-header {
  padding-top: 54px;
  margin-left: 50px;
}

.address-full {
  color: #7a7a7a;
  padding-top: 10px;
  padding-bottom: 27px;
  margin-left: 50px;
}

.write-btn {
  padding: 13px 45px;
  margin-left: 50px;
}

.social-list {
  list-style: none;
}

.social-btn {
  display: block;
  width: 64px;
  height: 64px;
  color: transparent;
  background-color: #e1e1e1;
  border-radius: 50%;
}

.social-btn:hover,
.social-btn:focus {
  background-color: #e74246;
}

.social-btn:active {
  background-color: #d7373b;
}

.social-btn:active img {
  opacity: 0.3;
}

.social-btn-vk img {
  padding-left: 19px;
  padding-top: 24px;

}

.social-btn-fb img {
  padding-left: 26px;
  padding-top: 19px;

}

.social-btn-ig img {
  padding-left: 22px;
  padding-top: 20px;

}

.page-footer {

}

.page-footer .befriends {
  display: block;
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;

}

.modal-contactus h2 {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  color: #000000;
}

.form-label {
  font-weight: 700;
  color: #000000;
}

.form-input {
  color: #000000;
  border: 2px solid #f2f3f4;
  border-radius: 2px;
}

.user-form input:hover,
.user-form textarea:hover {
  border: 2px solid #e1e3e4;
}

.user-form input:focus,
.user-form textarea:focus {
  border: 2px solid #000000;

}

.form-btn {
  padding: 13px 84px;

}

.modal-close-btn {
  display: block;
  width: 25px;
  height: 25px;
  color: transparent;
  background-color: transparent;
}

.modal-close-btn:hover,
.modal-close-btn:focus,
.modal-close-btn:active {
  color: transparent;
  background-color: transparent;
}

.modal-close-btn img {
  opacity: 0.3;
}

.modal-close-btn img:hover,
.modal-close-btn img:focus {
  opacity: 1;
}

.modal-close-btn img:active {
  opacity: 0.1;
}

/* shop.html */

.shop-header {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: #000000;
  text-align: center;
}

.filter-header {
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 700;
  color: #000000;
}

.show-btn {
  width: 267px;
  height: 53px;
  font-weight: 500;
  color: #000000;
  background-color: #eeeeee;
}

.show-btn:hover,
.show-btn:focus {
  background-color: #dfdfdf;
}

.show-btn:active {
  color: #959595;
  background-color: #d5d5d5;
}

.filter-list {
  list-style: none;
}

.sort-btn-list {
  list-style: none;
}

.order-btn-list {
  list-style: none;
}

.paginator-list {
  list-style: none;
}
